// Place all the styles related to the Drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-image: image-url("sayagata-400px.png");
}
.well img{
  width: 100%
}
a{
  color: Black;
}
a:hover{
  color: Gray;
  text-decoration: none;
}
h2.index{
  text-align: center;
  font-size: 40px;
}
h4.index{
  text-align: center;
}
p.index{
  text-align: center;
}
p.discount{
  color: red;
}