// Place all the styles related to the Drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-family: Abadi, Sans-serif;
  text-align: center;
  font-size: 100px;
}
h3{
  text-align: center;
  font-size: 50px;
}
h4{
  margin-left: 50px;
  font-size: 25px;
}
h4.item{
  margin-left: 50px;
  font-size: 22px;
}
p{
  margin-left: 50px;
  font-size: 20px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}